[submodule ".registry"]
	path = .registry
	url = https://github.com/yousuf28/yousuf28.r-universe.dev
	branch = HEAD
[submodule "rapt"]
	path = rapt
	url = https://github.com/Yousuf28/rapt
[submodule "sendigR"]
	path = sendigR
	url = https://github.com/phuse-org/sendigR
[submodule "toxSummary"]
	path = toxSummary
	url = https://github.com/phuse-org/toxSummary
